# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

# other things
_ReSharper.*
*.DotSettings
*.user
*.suo
/FloydPink.Flickr.Downloadr.Tests/TestResult.xml
/FloydPink.Flickr.Downloadr.Tests/FloydPink.Flickr.Downloadr.Tests.csproj.VisualState.xml